<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="/src/main.ts"></script>
    <title>Calendar-widget</title>
  </head>
  <body class="m-10">
    <h1 class="bg-black inline-block text-white px-4 py-2 mb-5 rounded-2xl">Calendar-widget</h1>
    <div class="w-[6.25rem] h-[6.25rem] bg-gradient-to-b from-white to-[#DDDDDD] rounded-[1.4375rem] shadow-[0_0_15px_rgba(0,0,0,0.5)] p-6 text-center justify-center items-center flex flex-col">
      <div class="day-name bg-amber-100 text-[1rem] font-semibold"></div>
      <div class="day-number mt-0 p-0 bg-pink-200 text-6xl font-semibold"></div>
    </div>

    <div class="w-[6.25rem] h-[6.25rem] bg-gradient-to-b from-white to-[#DDDDDD] dark:from-[#282828] dark:to-[#484848] rounded-[1.4375rem] shadow-[0_0_15px_rgba(0,0,0,0.5)] p-6 text-center justify-center items-center flex flex-col">
      <div class="day-name dark:text-white text-[1rem] font-semibold"></div>
      <div class="day-number mt-0 p-0 dark:text-white text-6xl font-semibold"></div>
    </div>

    <script>
      const days = ['일요일', '월요일', '화요일', '수요일', '목요일', '금요일', '토요일'];
      const today = new Date();
      const dayName = days[today.getDay()];
      const dayNumber = today.getDate();

      document.querySelectorAll('.day-name').forEach(element => {
        element.textContent = dayName;
      });
      document.querySelectorAll('.day-number').forEach(element => {
        element.textContent = `${dayNumber}`;
      });
    </script>
  </body>
</html>
