<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="/src/main.ts"></script>
    <link rel="stylesheet" href="/public/fonts/pretendard/pretendardvariable.css" />
    <link rel="preload" as="font" type="font/woff2" crossorigin href="/public/fonts/pretendard/woff2/PretendardVariable.woff2" />
    <title>context-menu</title>
  </head>
  <body class="flex justify-center items-center gap-5 h-screen w-screen">
    <ul class="context-menu min-w-[140px] text-black dark:text-white dark:border-0 bg-[rgba(111,111,111,0.2)] dark:bg-[rgba(109,109,109,0.5)] rounded-[7px]">
      <li class="context-menu-item min-h-[22px] m-1 px-[15px] align-middle hover:text-white hover:bg-[#5682E2] hover:rounded-[5px]">text</li>
      <li class="context-menu-item min-h-[22px] m-1 px-[15px] align-middle hover:text-white hover:bg-[#5682E2] hover:rounded-[5px]">text</li>
      <li class="context-menu-item min-h-[22px] m-1 px-[15px] align-middle hover:text-white hover:bg-[#5682E2] hover:rounded-[5px]">text</li>
      <li class="context-menu-item min-h-[22px] m-1 px-[15px] align-middle hover:text-white hover:bg-[#5682E2] hover:rounded-[5px]">text</li>
      <li class="context-menu-item min-h-[22px] m-1 px-[15px] align-middle hover:text-white hover:bg-[#5682E2] hover:rounded-[5px]">text</li>
      <li class="context-menu-item min-h-[22px] m-1 px-[15px] align-middle hover:text-white hover:bg-[#5682E2] hover:rounded-[5px]">text</li>
      <li class="context-menu-item min-h-[22px] m-1 px-[15px] align-middle hover:text-white hover:bg-[#5682E2] hover:rounded-[5px]">text</li>
      <li class="context-menu-item min-h-[22px] m-1 px-[15px] align-middle hover:text-white hover:bg-[#5682E2] hover:rounded-[5px]">text</li>
      <li class="context-menu-item min-h-[22px] m-1 px-[15px] align-middle hover:text-white hover:bg-[#5682E2] hover:rounded-[5px]">text</li>
      <li class="context-menu-item min-h-[22px] m-1 px-[15px] align-middle hover:text-white hover:bg-[#5682E2] hover:rounded-[5px]">text</li>
      <li class="context-menu-item min-h-[22px] m-1 px-[15px] align-middle hover:text-white hover:bg-[#5682E2] hover:rounded-[5px]">text</li>
    </ul>
  </body>
</html>
