<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>아이콘 바 UI</title>
    <link rel="stylesheet" href="/src/style.css" />
  </head>
  <body class="flex flex-col items-center justify-center min-h-screen p-4 space-y-8 bg-gray-100">
    <div class="flex items-center justify-around p-4 w-[400px] h-[101px] bg-[#E8E8E8] rounded-[23px] shadow-md"></div>
    <div class="flex items-center justify-around p-4 w-[400px] h-[101px] bg-[#6D6D6D] rounded-[23px] shadow-md"></div>
  </body>
</html>
