<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="/src/main.ts"></script>
    <script type="module" src="/src/ts/top-bar.ts"></script>
    <link rel="stylesheet" href="/public/fonts/pretendard/pretendardvariable.css" />
    <link rel="preload" as="font" type="font/woff2" crossorigin href="/public/fonts/pretendard/woff2/PretendardVariable.woff2" />
    <title>top-bar-component</title>
  </head>
  <body>
    <!-- top-bar / 다크,라이트 모드 -->
    <div class="w-full flex justify-between items-center py-0.5 bg-[rgba(223,223,223,0.20)] dark:bg-[rgba(109,109,109,0.5)] shadow-2xl">
      <div class="ml-3">
        <picture>
          <source srcset="../../public/asserts/top-bar/apple-logo-white.svg" media="(prefers-color-scheme: dark)" />
          <img src="../../public/asserts/top-bar/apple-logo-black.svg" alt="로고" />
        </picture>
      </div>
      <div class="inline-flex items-center mr-3">
        <picture>
          <source srcset="../../public/asserts/top-bar/battery-white.svg" media="(prefers-color-scheme: dark)" />
          <img class="mr-3" src="../../public/asserts/top-bar/battery-black.svg" alt="배터리" />
        </picture>
        <picture>
          <source srcset="../../public/asserts/top-bar/wifi-white.svg" media="(prefers-color-scheme: dark)" />
          <img class="mr-3" src="../../public/asserts/top-bar/wifi-black.svg" alt="와이파이" />
        </picture>
        <picture>
          <source srcset="../../public/asserts/top-bar/search-white.svg" media="(prefers-color-scheme: dark)" />
          <img class="mr-3" src="../../public/asserts/top-bar/search-black.svg" alt="검색" />
        </picture>
        <picture>
          <source srcset="../../public/asserts/top-bar/toggle-white.svg" media="(prefers-color-scheme: dark)" />
          <img class="mr-3" src="../../public/asserts/top-bar/toggle-black.svg" alt="토글" />
        </picture>
        <span class="current-date text-xs dark:text-white"></span>
      </div>
    </div>
  </body>
</html>
