@import 'tailwindcss';

@theme {
  --font-sans: 'Pretendard Variable', 'sans-serif';
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* doodi-game: 두더지 등장하는 애니메이션 */
@keyframes moleBounce {
  0% {
    scale: 1 1;
  }
  30% {
    scale: 1 1.3; /* Y축만 늘어남 */
  }
  100% {
    scale: 1 1;
  }
}

.mole-bounce {
  animation: moleBounce 300ms ease-out;
  transform-origin: bottom center;
}

/* doodi-game: 두더지 들어가는 애니메이션 */
@keyframes moleShrink {
  0% {
    scale: 1 1;
    opacity: 1;
  }
  100% {
    scale: 1 0;
    opacity: 0;
  }
}

.mole-shrink {
  animation: moleShrink 100ms ease-in forwards;
  transform-origin: center bottom;
}

/* doodi-game: 기본 바운스 애니메이션 */
@keyframes littleBounce {
  0% {
    scale: 1 1;
  }
  30% {
    scale: 1 1.05; /* Y축만 늘어남 */
  }
  100% {
    scale: 1 1;
  }
}

.little-bounce {
  animation: littleBounce 300ms ease-out;
  transform-origin: bottom center;
}

/* doodi-game: 떠오르는 애니메이션 */
.floating-image {
  width: 60px;
  pointer-events: none;
  z-index: 1000;
}

@keyframes floatFade {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-80px); /* 위로 */
    opacity: 0;
  }
}

.float-fade {
  animation: floatFade 0.7s ease-out;
}

/* socks-game: 종이 흔드는 애니메이션 */
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-5px);
  }
  20% {
    transform: translateX(5px);
  }
  30% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  60% {
    transform: translateX(5px);
  }
  70% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  90% {
    transform: translateX(-5px);
  }
}
.shake {
  animation: shake 0.5s ease-in-out;
}

/* socks-game: 로딩화면 */
#loading-screen {
  position: fixed;
  inset: 0;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* 점 3개 정렬 */
.loading-dots {
  display: flex;
  gap: 10px;
}

/* 점 3개 웨이브 애니메이션 */
.dot {
  width: 12px;
  height: 12px;
  background-color: black;
  border-radius: 50%;
  animation: bounce 1s infinite ease-in-out;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.15s;
}

.dot:nth-child(3) {
  animation-delay: 0.3s;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
}

/* mac-widget: hover 속성 */
.widget:hover {
  transform: scale(1.05);
  transition: transform 0.4s cubic-bezier(0, 0.65, 0.76, 1);
}

/* mac: button-mode-change 모드 전환 애니메이션 */
@keyframes rotate-wiggle {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  75% {
    transform: rotate(1deg);
  }
}

.wiggle {
  animation: rotate-wiggle 0.4s ease-in-out;
  transform-origin: left bottom;
}

@layer components {
  /* 맥패널css */
  .mac-panel-overlay {
    @apply pointer-events-auto z-101;
    .mac-panel-content {
      @apply bg-white rounded-2xl shadow-2xl w-2xl absolute h-108;
      .mac-panel-header {
        @apply grid grid-cols-3 items-center h-8 rounded-t-2xl bg-white dark:bg-[#4A4C4E];
        .mac-panel-header-left {
          @apply flex justify-start ml-2 space-x-1;
          .close-mac-panel {
            @apply w-4 h-4 bg-[#FF5F5B] rounded-full;
          }
          .minimize-mac-panel {
            @apply w-4 h-4 bg-[#FEC331] rounded-full;
          }
          .full-mac-panel {
            @apply w-4 h-4 bg-[#27CE48] rounded-full;
          }
        }
        .mac-panel-title {
          @apply text-center text-[#A4A6A8] text-sm;
        }
        .mac-panel-header-right {
          @apply block;
        }
      }
      .mac-panel-program {
        @apply p-4 bg-gray-100 rounded-b-2xl h-[calc(100%_-_32px)];
        .mac-panel-cover {
          @apply absolute w-full h-[calc(100%_-_32px)] left-0 bottom-0;
        }
      }
    }
  }
  .icon {
    @apply flex flex-col items-center justify-center w-[70px] h-[70px] rounded-[23px] shadow-md bg-white cursor-pointer relative opacity-100;
    .icon-cover {
      @apply w-full h-full bg-black rounded-[23px] opacity-0 hover:opacity-15 transition-opacity hover:transition-opacity;
    }
  }
  .icon.active {
    @apply after:content-["."] after:text-[36px] after:absolute after:left-1/2 after:-translate-x-1/2 after:-bottom-6;
  }
  .oncover {
    @apply visible;
  }
  .outcover {
    @apply invisible;
  }
  .calendar-widget {
    @apply w-[6.25rem] h-[6.25rem] bg-gradient-to-b from-white to-[#DDDDDD] dark:from-[#282828] dark:to-[#484848] rounded-[1.4375rem] shadow-[0_0_15px_rgba(0,0,0,0.5)] p-6 text-center justify-center items-center flex flex-col;
    .day-name {
      @apply dark:text-white text-[1rem] font-semibold h-[1.25rem];
    }
    .day-number {
      @apply mt-0 p-0 dark:text-white text-6xl font-bold h-[3.4375rem];
    }
  }
  /* 카드게임 css */
  .card {
    perspective: 1000px;
  }

  .card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }

  .card.flipped .card-inner {
    transform: rotateY(180deg);
  }

  .card-front,
  .card-back {
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .card-front {
    transform: rotateY(180deg);
  }

  /* 위젯 드래그 애니메이션 */
  .drop-animation {
    animation: dropScale 0.3s ease forwards;
  }

  @keyframes dropScale {
    0% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  .context-menu {
    @apply absolute min-w-[140px] text-black dark:text-white dark:border-0 bg-[rgba(174,174,174,0.85)] dark:bg-[rgba(109,109,109,0.85)] rounded-[7px];
    .context-menu-item {
      @apply min-h-[22px] m-1 px-[15px] align-middle hover:text-white hover:bg-[#5682E2] hover:rounded-[5px];
    }
  }

  .memo-container {
    @apply w-full h-full min-h-0 grid grid-cols-[135px_1fr] grid-rows-1;
    .memo-sidebar-container {
      @apply bg-[#F3F2F8] dark:bg-[#000000] border-r-1 border-[#8B8A90] h-full pb-10 min-h-0 relative;
      .memo-sidebar {
        @apply bg-[#F3F2F8] dark:bg-[#000000] flex flex-col gap-2 px-2 pl-0 pr-4 pt-3 h-full min-h-0;
        .memo-sidebar-header {
          @apply font-bold grid grid-cols-1 grid-rows-1 h-[25px];
          .memo-sidebar-title {
            @apply dark:text-white col-start-1 col-span-1 row-start-1 row-span-1 self-end;
          }
          .memo-add-btn {
            @apply hover:translate-y-[2px] rounded-[1px] hover:shadow-[inset_0_10px_0_rgba(0.0.0.0.1)] w-[15px] h-[15px] col-span-1 col-start-1 row-start-1 row-span-1 justify-self-end bg-contain bg-no-repeat bg-center bg-[url(/public/asserts/mac/add-memo-icon.svg)];
          }
        }
        .memo-searchbar {
          @apply text-[#8B8A90] bg-[#E4E3E9] dark:bg-[#1C1C1E] p-1 text-[8px] rounded-[5px] w-full;
        }
        .memo-sidebar-ul {
          @apply rounded-[5px] overflow-y-auto;
          .memo-sidebar-li {
            @apply bg-[#fefefe] dark:text-white dark:bg-[#1C1C1E] px-3 py-1 hover:bg-[#D9D9D9] dark:hover:bg-[#3A3A3C];
            .memo-item-title {
              @apply text-[12px] font-bold truncate;
            }
            .memo-item-content {
              @apply text-[#8B8A90] text-[7px] truncate;
            }
          }
        }
      }
      .memo-sidebar-footer {
        @apply dark:text-white bg-[#f7f7f7] dark:bg-[#313133] text-[10px] text-center rounded-bl-[8px] w-full h-8 pb-4 absolute bottom-0;
      }
    }
    .memo-main {
      @apply grid grid-rows-[30px_1fr] dark:bg-[#000000] p-3 pb-0;
      .memo-main-title {
        @apply bg-gray-100 dark:bg-[#000000] dark:text-white outline-0 border-b-2 pl-2 font-bold;
      }
      .memo-main-content {
        @apply p-2  bg-gray-100 dark:bg-[#000000] dark:text-white outline-0 resize-none;
      }
      .memo-save-btn-container {
        @apply flex justify-end;
        .memo-save-btn {
          @apply text-[#E2BE4C] h-8 hover:text-black dark:hover:text-white;
        }
      }
    }
  }
  .clock-container {
    @apply grid grid-cols-2 grid-rows-[50px_1fr] w-full h-full bg-[#d9d9d9] text-black dark:text-white;
    .stopwatch-label {
      @apply col-start-1 col-end-2 row-start-1 row-end-2 bg-gray-100 dark:bg-black hover:bg-white dark:hover:bg-[#555555] has-[input:checked]:bg-[#d9d9d9] dark:has-[input:checked]:text-white dark:has-[input:checked]:bg-[#4A4C4A] text-center;
      .stopwatch-radio {
        @apply appearance-none;
      }
    }
    .timer-label {
      @apply col-start-2 col-end-3 row-start-1 row-end-2 bg-gray-100 dark:bg-black hover:bg-white dark:hover:bg-[#555555] has-[input:checked]:bg-[#d9d9d9] dark:has-[input:checked]:text-white dark:has-[input:checked]:bg-[#4A4C4A] text-center;
      .timer-radio {
        @apply appearance-none;
      }
    }
    .clock-panel {
      @apply col-start-1 col-end-3 row-start-2 row-end-3;
    }
  }
}
